.books-board__container {
  padding-inline: 20px;
  padding-block: 30px;
}

.books-board {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 270px));
  gap: 20px;
  justify-content: center;
}